.formOrder{
	border: 2px solid black;
	width: auto;
	padding: 20px 30px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background: #f2f2f2;
	border-radius: 5px;
	font-size: 15px;
}

.container{
	display: flex;
}

.formInformation{
	padding-right: 60px;
}

input[type=text]{
	size: 50px;
	border:1px solid #808080;
	border-radius: 4px;
	margin-bottom: 8px;
	padding: 5px;
}

input[type=email]{
	size: 50px;
	border:1px solid #808080;
	border-radius: 4px;
	margin-bottom: 8px;
	padding: 5px;
}

input[type=tel]{
	size: 50px;
	border:1px solid #808080;
	border-radius: 4px;
	margin-bottom: 8px;
	padding: 5px;
}

input[type=submit]{
  background: white;
  padding: 10px 15px;
  margin-right: 20px;
  font-size: 18px;
  border:2px solid #196619;
  border-radius: 4px;
	color: #196619;
	font-weight: bolder;
}
input[type=submit]:hover{
  background: #85e085;
}
input[type=reset]{
  background: white;
  padding: 10px 15px;
  font-size: 18px;
  border:2px solid #800000;
  border-radius: 4px;
	color: #800000;
	font-weight: bolder;
}
input[type=reset]:hover{
  background: #ff8080;
}

label{
	font-size: 18px;
}

@media screen and(max width: 590px){
	.formOrder{
		width: auto;
		background: red;
	}
	.container{
		display: flex;
		flex-direction: row;
	}
}
