@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	margin: 0px;
	padding: 0px;
	font-family: poppins;
	background-color: #ffffff;
}

*{
	box-sizing: border-box;
}

ul{
	list-style: none;
}


a{
	text-decoration: none;
}

nav{
	width: 100%;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
	z-index: 100;
}



.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 45px;
}

.logo img{
	height: 100px;
	width: 200px;


}

.menu{
	display: flex;

}

.menu li{
	position: relative;
	margin: 30px;
	display: flex;
	text-transform: uppercase;
	font-weight: 500;
}

.menu li a{
	color: #555555;
}

.right-menu a{
	margin 0px 10px;
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.7);
	margin-right: 0.3rem;
}

.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
}


.fa-shopping-cart{
	position: absolute;
	padding-top: 6px;
	padding-left: 2px;
}

.num-cart-product{
	position: absolute;
	top: -12px;
	right: -17px;
	width: 25px;
	height: 25px;
	font-size: 0.8rem;
	border-radius: 50%;
	background-color: #0b9d8a;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.search-bar{
	width: 100%;
	height: 60px;
	background-color: #fff;
	position: relative;
	left: 0px;
	top: 50px;
	display: flex;
	justify-content: center;
	box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
	z-index: 101;
}

.search-input{
	width: 90%;
	border-bottom: 2px solid #555555;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin-top: 5px;
}

.search-bar input{
	width: 100%;
	padding: 30px;
	border: none;
	outline: none;
	font-size: 2rem;
	margin: 20px;
	padding: 0px 20px;
}

.search-cancel{
	color: #272727;
	font-size: 2rem;
	padding-right: 40px;
}

.container{
	background: white;
	width: 85%;
	display: flex;
	justify-content: center;
	margin: auto;
	position: absolute; left: 20px; top: 100px;
}

#content {
	background: white;
	width: 100%;
	margin: auto;
	padding: 10px;
	position: absolute;
	padding-bottom: 140px;
}

.product {
	width: 75%;
	margin: 10px auto;
	border: 1px solid lightgray;
	border-radius: 10px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
}

.productInfo {
	display: inline-block;
}

.productInfoButton {
	margin: 10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

img {
	width: 100px;
	height: 70%;
}

h3 {
	margin: 10px;
}

h4{
	margin: 0;
}

/* Footer container */
.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #ffffff;
		color: #555555;
		align-items: center;
	}

/* Footer container */
.columnFooter{
float: left;
width: 25%;
padding: 10px;
margin-bottom: 10px;
background-color: #fff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and(max-width: 600px) {
	.columnFooter{
		width: 100%;
	}
}

/* Footer - compresses the line spacing */
.oppet{
	margin-bottom: -20px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.textSlide {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: relative;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #d7d7d7;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* The dots/bullets/indicators */
.active, .dot:hover {
  background-color: #717171;
}

.slideshow-dots{
	 text-align: center;
	 margin: -40px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
